body {
    background-color:#EAEAEA;
}

.container{
    background-color:white;
}

.row{
    margin:20px;
}

h1,h4 {
    color:#0BADA6;
    font-weight: bold;
    font-family: Georgia;
}

hr { 
    margin:20px;
}
  
.navbar-custom .navbar-brand{ 
    color:#0BADA6;
    font-weight: bold;
    font-family: Georgia;
    font-size: 24px;
    margin-left: 75px;
}

#description-image {
    float: left;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-right: 20px;
}