body {
    background-color:#EAEAEA;
}

.container{
    background-color:white;
}

.row{
    margin:20px;
}

h1,h2,h3,h4 {
    color:#0BADA6;
    font-weight: bold;
    font-family: Georgia;
}

.navbar-custom .navbar-brand{ 
    color:#0BADA6;
    font-weight: bold;
    font-family: Georgia;
    font-size: 24px;
    margin-left: 75px;
}

#description-image {
    float: left;
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-right: 20px;
}

.landing-photo-links{
    width: 140px;
    height: 140px;
}

#images{
    text-align: center;
}